data/shapefile/small_areas_british_grid.shp
.DS_Store
settings.json
.venv/
streamlit_app/__pycache__/*.pyc
data/Level_2.xlsx
*.pyc
streamlit_app/__pycache__/utils.cpython-311.pyc
python_code/archive/
